.fullHeight {
	height: 100vh;
}

.right {
	background-color: var(--secondary-background);
	overflow-y: scroll;
	border-left: solid 1px rgb(66, 68, 96);
}

.middle {
	background-color: var(--background);
	background: url(/public/images/map-image.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.left {
	background-color: var(--secondary-background);
	overflow-y: scroll;
	border-right: solid 1px rgb(66, 68, 96);
}

.toggle {
	display: none;
}